
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    font-family:"Quicksand", sans-serif;
}
html {
    overflow-x: hidden;
}

.main-container {
    @apply w-full flex flex-col items-start; 
}
.max-container {
    @apply w-full max-w-[1600px] px-3 md:px-6 lg:px-16;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body{
  overflow:hidden;
}